html, body {
  height: 100%; }

body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #212121;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 16px;
  min-height: 100%; }

.flex-wrap {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.body-wrap {
  margin: 0 auto;
  width: 94%; }
  @media screen and (min-width: 600px) {
    .body-wrap {
      width: 80%; } }
  @media screen and (min-width: 1000px) {
    .body-wrap {
      display: table;
      margin-top: -10%;
      max-width: 1100px;
      width: 90%; }
      .body-wrap .logo {
        border-right: 1px solid #212121;
        display: table-cell;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 360px; }
      .body-wrap .right {
        display: table-cell;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-top: 10px; } }

h1 {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  margin: 0 0 20px 0;
  text-align: center; }
  h1:after {
    border-bottom: 2px solid #212121;
    content: "";
    display: block;
    margin: 0 auto;
    padding: 0 0 30px 0;
    width: 80px; }
  @media screen and (min-width: 1000px) {
    h1 {
      font-size: 3em;
      text-align: left; }
      h1:after {
        display: none; } }

p {
  margin-bottom: 20px;
  margin-top: 0; }
  @media screen and (min-width: 1000px) {
    p {
      font-size: 1.2rem; } }

.logo {
  display: block;
  margin: 20px auto 30px auto;
  max-width: 100%;
  width: 200px; }
  .logo svg {
    display: block;
    max-width: 300px;
    width: 100%; }

#mc_embed_signup {
  /* active state */ }
  #mc_embed_signup h2 {
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 1rem;
    font-style: italic;
    text-align: center; }
    @media screen and (min-width: 1000px) {
      #mc_embed_signup h2 {
        text-align: left; } }
  #mc_embed_signup .fields .submit {
    padding-top: 20px; }
  @media screen and (min-width: 1000px) {
    #mc_embed_signup .fields {
      display: table;
      width: 100%; }
      #mc_embed_signup .fields > div {
        display: table-cell; }
        #mc_embed_signup .fields > div.submit {
          padding-left: 10px;
          width: 130px; } }
  #mc_embed_signup label {
    display: none; }
  #mc_embed_signup input[type="email"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #212121;
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    font-size: 1.4rem;
    outline: none;
    padding: 0;
    height: 40px;
    vertical-align: middle;
    width: 100%; }
    #mc_embed_signup input[type="email"]:focus {
      color: #303F9F; }
  #mc_embed_signup div.mce_inline_error {
    background-color: transparent !important;
    color: red !important;
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    padding: 0 !important;
    position: absolute; }
  #mc_embed_signup .bar {
    display: block;
    position: relative;
    width: 100%;
    z-index: 2; }
  #mc_embed_signup .bar:before,
  #mc_embed_signup .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #303F9F;
    transition: 0.2s ease all; }
  #mc_embed_signup .bar:before {
    left: 50%; }
  #mc_embed_signup .bar:after {
    right: 50%; }
  #mc_embed_signup input:focus ~ .bar:before,
  #mc_embed_signup input:focus ~ .bar:after {
    width: 50%; }
  #mc_embed_signup input[type="submit"] {
    background-color: #FF5722;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: #ffffff;
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    font-size: 1rem;
    height: 40px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%; }
  #mc_embed_signup ::-webkit-input-placeholder {
    color: #212121; }
  #mc_embed_signup :-moz-placeholder {
    color: #212121;
    opacity: 1; }
  #mc_embed_signup ::-moz-placeholder {
    color: #212121;
    opacity: 1; }
  #mc_embed_signup :-ms-input-placeholder {
    color: #212121; }
  #mc_embed_signup :placeholder-shown {
    color: #212121; }
