html, body {
  height: 100%; }

body {
  color: #212121;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0; }

.logo {
  margin: 0 auto;
  width: 200px; }
  @media screen and (min-width: 1000px) {
    .logo {
      margin: 0;
      padding-left: 10%; } }
  .logo svg {
    fill: #ffffff; }

header {
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 20px 20px 0 20px; }
  header .center-align-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: -20px; }
    @media screen and (min-width: 1000px) {
      header .center-align-container {
        justify-content: flex-start;
        padding-left: 10%; } }
    header .center-align-container .center-align {
      max-width: 700px; }
  header form h2 {
    margin-bottom: 10px;
    margin-top: 60px;
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    text-align: left; }
  header form input[type="email"] {
    border-bottom: 2px solid #ffffff; }
    header form input[type="email"]:focus {
      color: #ffffff; }
  header form .bar:before,
  header form .bar:after {
    background: #FF5722; }
  header form ::-webkit-input-placeholder {
    color: #ffffff; }
  header form :-moz-placeholder {
    color: #ffffff;
    opacity: 1; }
  header form ::-moz-placeholder {
    color: #ffffff;
    opacity: 1; }
  header form :-ms-input-placeholder {
    color: #ffffff; }
  header form :placeholder-shown {
    color: #ffffff; }

h1 {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 auto 20px auto;
  max-width: 600px;
  text-align: center; }
  @media screen and (min-width: 500px) {
    h1 {
      font-size: 2.5rem; } }
  @media screen and (min-width: 1000px) {
    h1 {
      font-size: 3rem;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      text-align: left; } }

p {
  margin: 0 auto 20px auto;
  max-width: 700px; }

section {
  padding: 20px 20px 0px 20px; }
  section.lead p {
    font-size: 1.2em; }
  @media screen and (min-width: 1000px) {
    section.lead {
      padding-top: 80px; }
      section.lead p {
        font-size: 1.5rem; } }
  @media screen and (min-width: 1000px) {
    section.three-cols {
      border-bottom: 1px solid #B6B6B6;
      border-top: 1px solid #B6B6B6;
      margin: 80px 10% 0 10%;
      padding: 80px 0; }
      section.three-cols .col {
        box-sizing: border-box;
        display: inline-block;
        padding: 10px 50px;
        width: 40%;
        vertical-align: top; }
        section.three-cols .col:first-child {
          padding-left: 0;
          width: 29%; }
        section.three-cols .col:last-child {
          padding-right: 0;
          width: 29%; } }
  @media screen and (min-width: 1800px) {
    section.three-cols {
      margin: 80px auto 0 auto;
      max-width: 1400px; } }
  section svg {
    display: block;
    margin: 20px auto 20px auto;
    width: 64px; }
  @media screen and (min-width: 1000px) {
    section form {
      margin: 0 auto;
      max-width: 600px;
      padding: 100px 0; }
      section form h2 {
        font-size: 1.5rem;
        text-align: center; } }

form {
  margin: 0 auto;
  max-width: 400px;
  /* active state */ }
  @media screen and (min-width: 1000px) {
    form {
      max-width: 100%; } }
  form h2 {
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 1rem;
    font-style: italic;
    text-align: left;
    font-weight: normal; }
  form .fields .submit {
    padding-top: 20px; }
  @media screen and (min-width: 1000px) {
    form .fields {
      display: table;
      max-width: 100%;
      width: 100%; }
      form .fields > div {
        display: table-cell; }
        form .fields > div.submit {
          padding-left: 10px;
          width: 130px; } }
  form label {
    display: none; }
  form input[type="email"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #212121;
    border-radius: 0;
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    font-size: 1.4rem;
    outline: none;
    padding: 0;
    height: 40px;
    vertical-align: middle;
    width: 100%; }
    form input[type="email"]:focus {
      color: #303F9F; }
  form div.mce_inline_error {
    background-color: transparent !important;
    color: red !important;
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    padding: 0 !important;
    position: absolute; }
  form .bar {
    display: block;
    position: relative;
    width: 100%;
    z-index: 2; }
  form .bar:before,
  form .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #303F9F;
    transition: 0.2s ease all; }
  form .bar:before {
    left: 50%; }
  form .bar:after {
    right: 50%; }
  form input:focus ~ .bar:before,
  form input:focus ~ .bar:after {
    width: 50%; }
  form input[type="submit"] {
    background-color: #FF5722;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 1px;
    color: #ffffff;
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    font-size: 1rem;
    height: 40px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    -webkit-appearance: none; }
  form ::-webkit-input-placeholder {
    color: #212121; }
  form :-moz-placeholder {
    color: #212121;
    opacity: 1; }
  form ::-moz-placeholder {
    color: #212121;
    opacity: 1; }
  form :-ms-input-placeholder {
    color: #212121; }
  form :placeholder-shown {
    color: #212121; }

footer {
  background-color: #212121;
  color: #ffffff;
  margin: 50px 0 0 0;
  padding: 20px; }
  footer p {
    margin: 0;
    text-align: center; }
