<main>
  <section class="lead">
    <p>We help to increase your chances of finding that ideal job by helping you to tailor your resume and highlight your strengths with the role in mind.</p>
  </section>

  <section class="three-cols">
    <div class="col">
      {{ partial "svg_sign.html" . }}
      <p>Have a specific job in mind? Just paste the link and get started. Or start with a clean slate.</p>
    </div>
    <div class="col">
      {{ partial "svg_pen.html" . }}
      <p>We help you to tailor your resume get past the HR filters and into the hands of the right person, saving you from the automated rejections.</p>
    </div>
    <div class="col">
      {{ partial "svg_cloud.html" . }}
      <p>We save your resume history for you (if you wish) so you don't have to keep searching for a specific version to use.</p>
    </div>
  </section>
  <section>
    {{ partial "form.html" . }}
  </section>
</main>
